/.idea/
/.gradle/
/local.properties
/build/
app/build/
/.classpath
/.project
/.settings/
.externalNativeBuild/
*.iml
*.keystore
*.log
*.ipr
*.iws
.DS_Store
Thumbs.db
.vscode/
.settings/
/emulator-port-*
/.gradle/